.main-container
  padding-top: 60px

.navbar-form
  .type-group
    min-width: 280px
    @media (min-width: 769px)
      margin-left: 10px

  .Select-control
    padding-top: 7px
    padding-bottom: 6px
    .Select-placeholder
      padding-top: 7px
    .Select-clear
      top: -1px
